.row.bottom-margin-2
  #video-clip
    %video.col-xs-12.video-js{ controls: :true, preload: 'auto', width: "auto", height: "auto", 'data-setup': "{}" }
      %source{ src: @resource.clip.url, type: @resource.clip_content_type }  }